@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

// Footer variables
$footerBg: #1D262F;
$footerText: #fff;

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.footer {
    position: relative;
    margin-top: 300px;
    padding: 3rem 0;
    color: $footerText;
    background: $footerBg;
    margin-top: auto;

    &__columns {
        display: flex;
        justify-content: space-between;
    }

    &__col {
        &-title {
            font-size: 1.6rem;
            margin-bottom: 2rem;
            text-transform: uppercase;
            display: flex;
            align-items: center;

            *~span {
                margin-left: 1rem;
            }
        }
    }

    a {
        display: flex;
        align-items: center;
        color: $footerText;
        text-decoration: none;

        *~span {
            margin-left: 1rem;
        }
    }

    &__nav {
        &-list {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
    }

    &__logo {
        width: 20px;
        height: auto;
    }
}