/*=============== GOOGLE FONTS ================*/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Spectral:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Poppins:wght@400;500;700&display=swap");


/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(195, 100%, 30%);
    --gradient-color: linear-gradient(90deg,
            hsl(210, 55%, 20%),
            hsl(192, 62%, 25%));
    --title-color: hsl(210, 52%, 20%);
    --text-color: hsl(210, 24%, 15%);
    --white-color: #fff;
    --body-color: hsl(210, 55%, 85%);

    --section1-bg-color: #ffffff;
    --section2-bg-color: #FFD2B0;
    --section3-bg-color: #384364;
    --section4-bg-color: #cccccc;
    --section5-bg-color: #333333;



    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --second-font: "Lora", serif;
    --biggest-font-size: 2.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 4rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {

    margin-inline: 1.5rem;
}

.main {
    overflow: hidden;
    /* For animation */
}

/*=============== HEADER & NAV ===============*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.scrolled {
    background: var(--body-color);
}

.nav__logo {
    width: 36px;
    margin: 10px;
}

.nav__toggle,
.nav__close {
    display: inline-flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    margin: 10px;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        box-shadow: 0 1px 16px hsla(210, 55%, 24%, .1);
        padding-block: 3.5rem 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        transition: top .4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
}

.nav__link {
    color: var(--title-color);
    transition: color .3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .75rem;
}

.nav__button-link,
.nav__button-ghost {
    display: inline-block;
    color: var(--title-color);
}

.nav__button-ghost {
    background-color: hsla(0, 0%, 100%, .3);
    padding: 1rem 2.5rem;
    border: 2px solid var(--title-color);
    border-radius: .75rem;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Show menu */
.show-menu {
    top: 0;
}

/* Change background header */
.bg-header {
    box-shadow: 0 1px 16px hsla(210, 55%, 24%, .12);
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 305px) {
    .container {
        margin-inline: 1rem;
    }
}

/* For large devices */
@media screen and (min-width: 1023px) {
    .nav {
        height: calc(var(--header-height) + 2rem);
        column-gap: 4rem;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 5rem;
    }

    .nav__buttons {
        flex-direction: row;
        column-gap: 3rem;
        padding-right: 20px;
    }

    .nav__logo {
        width: 48px;
        padding-left: 20px;
    }
}

@media screen and (min-width: 1120px) {
    .container {
        margin-inline: auto;
    }
}

@media screen and (min-width: 1300px) {
    ::-webkit-scrollbar {
        width: .6rem;
        border-radius: .5rem;
        background-color: hsl(220, 24%, 15%);
    }

    ::-webkit-scrollbar-thumb {
        background-color: hsl(220, 24%, 25%);
        border-radius: .5rem;
    }
}

/* For 2K resolutions (2048 x 1152) */
@media screen and (min-width: 2048px) {
    .container {
        max-width: 1300px;
    }
}

/*Footer*/

.footer {
    position: relative;
    margin-top: 3rem;
    padding: 3rem 0;
    color: #fff;
    background: #1D262F;
    margin-top: auto;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.footer__col-title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.footer__col-title *~span {
    margin-left: 1rem;
}

.footer a {
    display: flex;
    align-items: center;
    color: var(--white-color);
    text-decoration: none;
}

.footer a *~span {
    margin-left: 1rem;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer__logo {
    width: 80px;
    height: auto;
}

.main {
    overflow: hidden;
    /* For animation */
}

/* General styles and layout */
.petnificent {
    position: relative;
}

.petnificent-banner-alt,
.petnificent-banner {
    position: relative;
    height: auto;
    width: 100%;
    margin-top: 1rem;
    color: var(--white-color);
    text-align: center;
    background-image: url("./images/game\ header\ banner.svg") no-repeat center center;
    background-size: cover;
}

/*===========================================Section 1========================================================*/
.petnificent__description {
    margin-bottom: 1.5rem;
    color: var(--title-color);
}

/* ====================================================Section 2==============================================================*/

.section__container-dark {
    padding-top: 2%;
    padding-bottom: 2%;
    height: auto;
    max-width: 100%;
    margin: 0;
    background-color: var(--section5-bg-color);
}

.section__content-dark {
    position: relative;
    z-index: 2;
    margin-inline: 1.5rem;
}

.h3_subtitle-dark {
    margin-left: 38%;
}

.h2_title-dark {
    font-family: 'Inter', sans-serif;
    font-size: 80%;
    color: var(--section1-bg-color);
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
}

.p__description-dark {
    color: var(--section1-bg-color);
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
}

/* ===================================================Section 3=======================================================*/
.section__container-accent {
    padding-top: 1rem;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    margin: 0;
    background-color: #B6C9D8;
}

.two-column {
    margin: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-left: 15%;
}

.column {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    line-height: 2.5;
}

.de-emphasize {
    font-weight: 300;
}

/* ===================================================Section 4=======================================================*/
.container {
    font: menu;
    font-size: 1rem;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

.content {
    padding-top: 4rem;
    width: 60%;
    margin: auto;
}

.h1-accordion {
    font-size: 2rem;
    font-weight: 500;
}

details[open] summary~* {
    animation: open 0.3s ease-in-out;
}

@keyframes open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

details summary::-webkit-details-marker {
    display: none;
}

details summary {
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid black;
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 300;
    list-style: none;
}

details summary:after {
    content: "+";
    color: black;
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    margin-top: 0.75rem;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
}

details[open] summary:after {
    transform: rotate(45deg);
    font-size: 2rem;
}

details summary {
    outline: 0;
}

details p {
    font-size: 0.95rem;
    margin: 0 0 1rem;
    padding-top: 1rem;
}

/*-----------------------------------------*/

.section__content{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
}

.section__columns {
    display: flex;
    flex-wrap: wrap;
}


.section__container-light {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    
    /*position: relative;
    height: auto;
    width: 100%;
    margin: 0;
    background-color: var(--section1-bg-color);*/
}


.section__container {
    position: relative;
    height: auto;
    width: 100%;
    margin: 0;
}

.section__content-light {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
}


.section__content {
    width: 100%;
    height: 100%;
    text-align: center;
}

.section__columns {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.section-columns {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.white-text {
    color: var(--section1-bg-color);
    letter-spacing: 1px;
}

.boldText {
    font-weight: bolder;
    letter-spacing: 1px;
}

.regularText {
    font-weight: 300;
}

.centeredText {
    text-align: center;
    margin-top: 20px;
}

.p-left,
.h1-left {
    margin-left: 2%;
    margin-bottom: 1rem;
    padding-top: 0;
}

.h1-right {
    margin-right: 8%;
    padding-top: 1rem;
    text-align: right;
}

.p-right {
    float: right;
    margin-right: 9%;
    padding-top: 1rem;
}

.h1-center {
    text-align: center;
}

.bulletVisible {
    list-style-type: disc;
    /* You can change this to 'circle', 'square', or 'none' as needed */
    margin-left: 5%;
    /* Adjust the margin as needed */
    margin-top: 1rem;
    text-align: left;
}

.bulletInvisible-dark {
    margin: 8px 0;
    width: 62%;
    text-align: center;
    margin-left: 20%;
}

.bulletVisible li {
    margin: 5px 0px;
}

.movie-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    /*display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;*/

    width: 100%;
    max-width: 400px;
    /* Set maximum width for image container */
    margin: 0 auto;
}

.designMockup {
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.5s ease;
}


/* ===================================================Section 5=======================================================*/
.petnificent__sectional {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    width: 100%;
    margin: 0;
}

.sectionals {
    text-align: center;
    margin-top: 20px;
}

.subtitleSectional {
    font-size: var(--small-font-size);
    color: var(--first-color);
    letter-spacing: 3px;
}

.subtitleSectional-blue {
    font-size: var(--small-font-size);
    color: var(--section2-bg-color);
    letter-spacing: 3px;
}

.titles {
    font-size: var(--biggest-font-size);
    font-family: var(--second-font);
    color: var(--title-color);
}

.h2_titles {
    font-family: 'Inter', sans-serif;
    font-size: 80%;
    color: #384364;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
}

.h2_titles-blue {
    font-family: 'Inter', sans-serif;
    font-size: 80%;
    color: var(--section2-bg-color);
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
}

.lists {
    padding: 5px;
    width: 30%;
    color: var(--section1-bg-color);
    margin-top: 20px;
}

.lists-dark {
    padding: 5px;
    width: 24%;
    color: #333333;
    margin-top: 20px;
}

.blankSpace {
    width: 20%;
}

.researchSummary {
    margin-left: 8%;
    padding-top: 1rem;
    color: var(--section1-bg-color);
}

/* ===================================================Section 6=======================================================*/

.flexGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flexGroup img {
    width: 33%;
    box-sizing: border-box;
    padding: 10px;
}

/* ===================================================Section 8=======================================================*/

.section__container-blue {
    padding-top: 0px;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: var(--section3-bg-color);
}

.background__image {
    background-image: url(../img/petnificentPage/petnificentImages/personaProfile.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 46%;
    height: 100vh;
}

.section__content {
    position: relative;
    z-index: 2;
}

.persona {
    background-color: var(--section1-bg-color);
    color: var(--section3-bg-color);
    width: 30%;
    padding: 1rem;
    margin-top: -10%;
}

.name {
    font-weight: bold;
    margin-left: 20%;
}

.bulletSeparator {
    margin-left: 0%;
}

.bullet {
    margin-right: 0 5px;
    /* Adjust the space between the bullet and the text */
    color: #384364;
    /* Set the color of the bullet */
    font-weight: bold;
    /* Optional: Adjust the font weight of the bullet */
}

.blue-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    background-color: var(--section2-bg-color);
    border-radius: 50%;
    box-shadow: 0 0 0 40px var(--section3-bg-color);
    margin: 0 auto;
    margin-top: -36%;
    margin-left: 38%;
}

.circleQuote {
    text-align: center;
    color: var(--section3-bg-color);
}

.userPersona-group {
    display: flex;
    justify-content: right;
}

.personaContent {
    width: 50%;
    /* Adjust the width as needed */
    float: right;
    text-align: left;
    margin-top: -50%;
    margin-right: -40%;
    color: var(--section1-bg-color);
    font-size: larger;
}

.columnPersona {
    margin-top: 40px;
}

.columnParagraph {
    margin-bottom: 30px;
}

.cta-container {
    text-align: center;
    margin-top: 2rem;
    /* Adjust margin as needed */
}

.cta-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1e385e;
    /* Change color as needed */
    color: #fff;
    /* Change color as needed */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-link:hover {
    background-color: #12213b;
    /* Change color as needed */
}

@media screen and (max-width:1400px) {
    .blue-circle {
        width: 300px;
        height: 300px;
    }

    .personaContent {
        width: 36%;
        margin-right: -15%;
    }
}


@media screen and (max-width:1200px) {
    .blue-circle {
        width: 240px;
        height: 240px;
    }
    
    .circleQuote {
        font-size: smaller;
    }

    .personaContent {
        width: 30%;
        margin-top: -40%;
        margin-right: 0;
    }
}

@media screen  and (max-width:900px){

    .p__description-dark {
        font-size: smaller;
    }

    .petnificent__sectional{
        height: auto;
    }

    .h2_titles{
        font-size: large;
        margin-bottom: 1rem;
    }

    .two-column{
        display: block;
    }

    .column{
        font-size: medium;
    }

    .section__columns{
        width:100%;
        margin: 0;
    }

    .image-container{
        display: block;
        width: 100%;
    }

    .flexGroup {
        display: block;
        text-align: center;
    }

    .lists-dark {
        width: 100%;
        padding: 2px;
        margin-top: 10px;
    }

    .centeredText {
        margin: 10px;
    }

    .background__image {
        width: 100%;
        height: 60vh;
    }

    .content {
        padding-top: 10px;
        width: 90%;
    }

    .persona {
        width: 100%;
    }

    .name {
        text-align: center;
        margin:0;
    }

    .section__container-blue {
        height: auto;
    }

    .blue-circle {
        border-radius: 0%;
        box-shadow: 0 0 0;
        width: 100%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 0;
        margin-left: 0;
    }

    .userPersona-group {
        display: block;
    }

    .columnParagraph {
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .columnPersona {
        margin-top: 10px; 
        
    }

    .personaContent {
        width: 100%;
        float: none;
        padding-left: 1%;
        margin-right: 10px;
        margin-top: 8%;
        padding-bottom: 6%;
        background-color: #384364;
    }

    .section-columns {
    width: 100%;
    }

    .h1-center {
    font-size: large;
    }

    .centeredText {
    font-size: medium;
    }
}