/*=============== GOOGLE FONTS ================*/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Spectral:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Poppins:wght@400;500;700&display=swap");


/*=============== VARIABLES CSS ===============*/
:root { 
    --header-height: 3.5rem; 

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(195, 100%, 30%);
    --gradient-color: linear-gradient(90deg,
            hsl(210, 55%, 20%),
            hsl(192, 62%, 25%));
    --title-color: hsl(210, 52%, 20%);
    --text-color: hsl(210, 24%, 15%);
    --white-color: #fff;
    --body-color: hsl(210, 55%, 85%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --second-font: "Lora", serif;
    --biggest-font-size: 2.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 4rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.main {
    overflow: hidden;
    /* For animation */
}

/*=============== HEADER & NAV ===============*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.scrolled {
    background: var(--body-color);
}

.nav__logo {
    width: 36px;
    margin: 10px;
}

.nav__toggle,
.nav__close {
    display: inline-flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    margin:10px;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        box-shadow: 0 1px 16px hsla(210, 55%, 24%, .1);
        padding-block: 3.5rem 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        transition: top .4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
}

.nav__link {
    color: var(--title-color);
    transition: color .3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .75rem;
}

.nav__button-link,
.nav__button-ghost {
    display: inline-block;
    color: var(--title-color);
}

.nav__button-ghost {
    background-color: hsla(0, 0%, 100%, .3);
    padding: 1rem 2.5rem;
    border: 2px solid var(--title-color);
    border-radius: .75rem;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Show menu */
.show-menu {
    top: 0;
}

/* Change background header */
.bg-header {
    box-shadow: 0 1px 16px hsla(210, 55%, 24%, .12);
}

/* For large devices */
@media screen and (min-width: 1023px) {
    .nav {
        height: calc(var(--header-height) + 2rem);
        column-gap: 4rem;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 5rem;
    }

    .nav__buttons {
        flex-direction: row;
        column-gap: 3rem;
        padding-right: 20px;
    }

    .nav__logo {
        width: 48px;
        padding-left: 20px;
    }

    .home__content {
        max-width: 550px;
    }

    .home__data {
        row-gap: .10rem;
    }

    .home__subtitle {
        font-size: var(--normal-font-size);
    }

    .home__description {
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 1120px) {
    .container {
        margin-inline: auto;
    }
}

@media screen and (min-width: 1300px) {
    ::-webkit-scrollbar {
        width: .6rem;
        border-radius: .5rem;
        background-color: hsl(220, 24%, 15%);
    }

    ::-webkit-scrollbar-thumb {
        background-color: hsl(220, 24%, 25%);
        border-radius: .5rem;
    }
}

/* For 2K resolutions (2048 x 1152) */
@media screen and (min-width: 2048px) {
    .container {
        max-width: 1300px;
    }
}

/*Footer*/

.footer {
    position: relative;
    margin-top: 3rem;
    padding: 3rem 0;
    color: #fff;
    background: #1D262F;
    margin-top: auto;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.footer__col-title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.footer__col-title *~span {
    margin-left: 1rem;
}

.footer a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.footer a *~span {
    margin-left: 1rem;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer__logo {
    width: 80px;
    height: auto;
}

/* =========================projects========================================*/
.banner {
    position: relative;
    overflow: hidden;
    margin-top: var(--header-height);
    background-color: #19344E;
}

.banner-content {
    text-align: center;
}

.svg-text {
    margin-top: 8%;
    z-index: 2;
}

.banner-image {
    margin-top: -10%;
}

.svg-text img,
.banner-image img {
    width: 100%;
    height: auto;
    display: block;
}

.projects-overview {
    width: 100%;
    margin: 25px auto;
    padding: 20px;
    max-width: 800px;
    font-size: 1.2em;
    line-height: 1.6em;
    box-sizing: border-box;
    text-align: center;
}

.project-cards {
    /*display: grid;
  place-items: center;*/
    padding: .15rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem;
}

.flow>*+* {
    margin-top: var(--flow-space, 1em);
}

.card__title {
    font-size: 2.25rem;
    font-family: var(--normal-font-size);
    color: var(--white-color);
    line-height: 1.1;
}

.card__description {
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    line-height: 1.5;
    color: var(--white-color);
}

.card {
    display: grid;
    place-items: center;
    width: 80vw;
    max-width: 21.875rem;
    height: 28.125rem;
    overflow: hidden;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    margin: 0.75rem;
}

.card>* {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.card__background {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

.card__content {
    --flow-space: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    height: 55%;
    padding: 12% 1.25rem 1.875rem;
    background: linear-gradient(180deg,
            hsla(0, 0%, 0%, 0) 0%,
            hsla(0, 0%, 0%, 0.3) 10%,
            hsl(0, 0%, 0%) 100%);
}

.card__content--container {
    --flow-space: 1.25rem;
}

.card__title {
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
    /* prefix necessary for firefox  */
}

.card__title::after {
    content: "";
    position: absolute;
    height: 0.3125rem;
    width: calc(100% + 1.25rem);
    bottom: calc((1.25rem - 0.5rem) * -1);
    left: -1.25rem;
    background-color: #E4B917;
}

.card__button {
    padding: 0.75em 1.6em;
    margin: 0.75rem;
    width: fit-content;
    width: -moz-fit-content;
    /* prefix required for firefox  */
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 0.45em;
    border: none;
    background-color: #E4B917;
    font-family: var(--body-font);
    font-size: 1.125rem;
    color: var(--white-color);
}

.card__button:focus {
    outline: 2px solid black;
    outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
    .card__content {
        transform: translateY(62%);
        transition: transform 500ms ease-out;
        transition-delay: 500ms;
    }

    .card__title::after {
        opacity: 0;
        transform: scaleX(0);
        transition: opacity 1000ms ease-in, transform 500ms ease-out;
        transition-delay: 500ms;
        transform-origin: right;
    }

    .card__background {
        transition: transform 500ms ease-in;
    }

    .card__content--container> :not(.card__title),
    .card__button {
        opacity: 0;
        transition: transform 500ms ease-out, opacity 500ms ease-out;
    }

    .card:hover,
    .card:focus-within {
        transform: scale(1.05);
        transition: transform 500ms ease-in;
    }

    .card:hover .card__content,
    .card:focus-within .card__content {
        transform: translateY(0);
        transition: transform 500ms ease-in;
    }

    .card:focus-within .card__content {
        transition-duration: 0ms;
    }

    .card:hover .card__background,
    .card:focus-within .card__background {
        transform: scale(1.3);
    }

    .card:hover .card__content--container> :not(.card__title),
    .card:hover .card__button,
    .card:focus-within .card__content--container> :not(.card__title),
    .card:focus-within .card__button {
        opacity: 1;
        transition: opacity 500ms ease-in;
        transition-delay: 1000ms;
    }

    .card:hover .card__title::after,
    .card:focus-within .card__title::after {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: left;
        transition: opacity 500ms ease-in, transform 500ms ease-in;
        transition-delay: 500ms;
    }
}



@media only screen and (max-width: 480px) {

    .nav__logo,
    .nav__toggle {
        margin: 10px;
    }

    .projects-header {
        font-size: 16px;
    }

    .projects-paragraph {
        font-size: 12px;
    }

    .projects-overview {
        margin: auto;
    }

    .projects-banner {
        margin-top: 20%;
    }
}